.page-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}

.header-content {
    display: grid;
    grid-template-columns: 
        1fr
        1fr
        1fr;
}

.header-text {
    align-self: center;
    justify-self: center;
    grid-column: 1 / 2;
}

.logo_white_st0 {
    fill: #FFFFFF;
    color: #FFFFFF;
}

.header-central {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 25px;
}

.header-central-butt {
    text-decoration: none;
    cursor: pointer;
}

.header-central-butt:hover {
    color: rgb(255, 245, 203);
    transition-duration: 1s;
    scale: 1.2;
}

@media (max-width: 700px) {
    .header-central-butt {
        display: none;
    }
}


.header-contact {
    grid-column: 3 / 4;
    padding: 5px 15px;
    border: 1px solid silver;
    border-radius: 25px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    font-size: 16px;
    background-color: white;
    font-weight: bold;
}

.header-contact:hover {
    transition-duration: 1s;
    background-color: rgb(255, 245, 203);
}