.section-one {
    background-image: url("../img/Img-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    padding: var(--sections-padding);
}

.section-one > .text {
    position: relative;
    color: white;
    align-self: center;
    max-width: 40%;
    font-size: 60px;
}

.section-one > .svg-left {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 150px;
    height: 150px;
}

@media (min-width: 1000px) {
    .section-one > .svg-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 614px;
        height: 493px;
    }
}

@media (max-width: 600px) {
    .section-one > .text {
        font-size: 50px;
    }
}


.section-two {
    background-color: white;
    padding: var(--sections-padding) 0;
}

.section-two-content {
    max-width: 900px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-two-content > p {
    font-size: 20px;
    font-weight: 200;
}

.section-three {
    background-color: rgb(250, 249, 248);
    padding: var(--sections-padding) 0;
}

.section-three-all-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--sections-padding);
    align-items: center;
    justify-items: center;
}

.left-side {
    grid-column: 1 / 2;
}

.right-side {
    grid-column: 2 / 3;
}


.section-three-title {
    font-size: 40px;
    grid-column: 1 / -1;
}

.section-three-content-1,
.section-three-content-3,
.section-three-content-7,
.section-three-content-5 {
    max-width: var(--sections-three-width);
    justify-self: normal;
}

.section-three-content-2 {
    max-width: var(--sections-three-width);
    grid-row: 2 / 3 ;
}

.section-three-content-2 > p,
.section-three-content-6 > p,
.section-three-content-8 > p,
.section-three-content-4 > p {
    font-size: 20px;
    font-weight: 200;
}

.section-three-content-2 > h1,
.section-three-content-6 > h1,
.section-three-content-8 > h1,
.section-three-content-4 > h1 {
    font-size: 35px;
}

.section-three-content-4 {
    max-width: var(--sections-three-width);
    grid-row: 3 / 4;
}

.section-three-content-6 {
    max-width: var(--sections-three-width);
    grid-row: 4 / 5;
}

.section-three-content-8 {
    max-width: var(--sections-three-width);
    grid-row: 5 / 6;
}

@media (max-width: 900px) {
    .section-three-all-content {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .right-side {
        grid-column: 1 / -1;
    }

    .section-three-content-2,
    .section-three-content-6,
    .section-three-content-8,
    .section-three-content-4 { 
        grid-row: auto;
    }
}